body{
    font-family: sans-serif;
}
div {
    background-color: yellowgreen;
    height: 65px;
    width: 100px;
    padding-left: 10px;
    border: green solid 3px;
    margin-right: 10px;
    float: left;
    border-radius: 12px;
}
span{
    color: limegreen;
    font-style: oblique;
    font-weight: bold;
}
div p{
    color: white;
    font-style: oblique;
    font-weight: bold;
}
