header{
    display:flex;
    flex-direction:column;
}


header > img{
    display:block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
    color:white;
    position: sticky;
    top: 0;
    border-radius: 15px;
    border: 1px solid black;
}
li {
    float: left;
    font-size: 20px;
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
}

li a:hover {
    background-color: red;
}
#box{
    background-color: lightgray;
    border: 1px solid black;
    padding: 20px;
}